body {
    animation: gradient 10s ease alternate infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5,#23d5ab) no-repeat;
    background-size: 300% 300%;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    font-size: 2em;
}

/*  Início da animação 0 50%
    Metade da animaçãoo 100% 50%
    Final da animação 0 50%

    @keyframes gradient {
   0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

-----------------------------
Indo de uma posição para outra
from 
to
------------------------------
Background position (x,y)*/

@keyframes gradient {
   from{
        background-position: 0 50%;
    }

    to{
        background-position: 100% 50%;
    }
}