/* Primeiro vem um box depois da passagem do box vem um texto */

body{
    font-family: sans-serif;
    display: grid;
    place-items: center;
    font-size: 300%;
    height: 100vh;
}

.text-reveal{
    overflow: hidden;
    position: relative;
}

.text-reveal::after{
    animation: text-reveal 2s cubic-bezier(0.85,0,0.15,1) forwards;
    background-color: #157bad;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1{
    animation: fade 1ms 1s forwards;
    opacity: 0;
}

@keyframes text-reveal{
    from{
        transform: translateX(-101%);
    }

    to{
        transform: translateX(101%);
    }
}

@keyframes fade{
    to{
        opacity: 1;
    }
}